.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/photo01.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 700px;
    margin: 40px auto;
}

/* Button styles with hover animation */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    background: #fff;
    color: #212121;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.explore-btn:hover {
    background: #25D366; /* WhatsApp green color */
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.explore-btn:hover .arrow-icon {
    filter: brightness(0) invert(1); /* Makes the arrow white on hover */
    transform: translateX(3px); /* Arrow moves slightly to the right */
}

.arrow-icon {
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
}

/* Media queries */
@media (max-width: 780px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 580px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
    .hero-text p {
        font-size: 14px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}